
@font-face {
  font-family: 'iconfont';
  src: url('/tudashi/suimg/fonticon/iconfont.eot');
  src: url('/tudashi/suimg/fonticon/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/tudashi/suimg/fonticon/iconfont.woff') format('woff'),
  url('/tudashi/suimg/fonticon/iconfont.ttf') format('truetype'),
  url('/tudashi/suimg/fonticon/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
	font: 12px/1.5 Tahoma, Microsoft YaHei, Verdana, Arial, Helvetica, sans-serif;
}
body, h1, h2, h3, h4, h5, h6, ul, li, p, dd, dl, dt {
    margin: 0;
    padding: 0;list-style: none;
}
a,a:hover{
	 text-decoration: none;
}
#tudashi_man .w1200 {
    height: 56px;
    text-align: center;
    margin: 0 70px;
}
#tudashi_man .w1180{
	    display: inline-block;    margin-left: -164px;
}
.fklogo_jian {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.fklogo_jian a {
    display: block;
    line-height: 35px;
    font-size: 18px;
    font-weight: initial;   
   
}
.fklogo_jian a img{
    display: block;
    float: left;
}
.fklogo_jian a i{
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #717171;
    line-height: 39px;
    margin: 5px 5px;
    position: relative;
}

#tuhd{
      display: block!important;
    border-bottom: 0 solid #f4f4f4;
    width: 100%;
    height: 56px;
    background: #fff;    z-index: 6;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);line-height: 56px;
}
#tuhd a{
	 color: #333;
}
#tuhd ul.nali li {
    float: left;
    font-size: 15px;
    padding: 0 10px;
    margin: 0 10px;
}
#tuhd ul.nali li:hover{
	border-bottom: 2px solid #00a7ff;
}
#user {
float: right;
    font-size: 14px;
    margin-right: 5px;
    width: 100px;
    height: 56px;
}
#user ul.unlogin a{
	    margin: 0 9px;
}
#user .login .user{
    float: right;
}
#user ul.unlogin i{
	      display: inline-block;
    width: 1px;
    height: 10px;
    background: #444;
    margin-left: 20px;
}

#user .login .message{
    position: relative;
    height: 56px;
    float: left;
    cursor: pointer;    margin-top: 5px;
}

#user .login ul li{
    float: left;
    cursor: pointer;
}
#user .login  .message a.message-list {
    position: relative;
}
#user .login  li:not(.user) .message-list {
    height: 20px;
}
#user .login .user-center>ul>li>a {
    padding: 18px 20px;
}
#user .login .user-center ul li a {
    display: inline-block;
}

#user .login .message a.message-list i {
    display: inline-block;
    background: url(/tudashi/suimg/svg/nav-message.svg) no-repeat;
    width: 18px;
    height: 20px;
}
.avatar-container-30 {
    position: relative;
}

#user .login  .login .user .user-list {
    position: relative;
    padding: 13px 20px;
}
#user .login  ul li a {
    display: inline-block;
}
#user .login .user a.user-list img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 50%;
}

#user .login  .user_menu {
    position: absolute;
    display: none;
    top: 56px;
    right: 19px;
    z-index: 999;
    width: 150px;
}
#user .login  .user_menu .user_menu_list {
    background: #fff;
    border: 1px solid #ececec;
    position: relative;
    padding-top: 10px;
    color: #000;
    height: 155px;
    margin: 0px 2px;
}
#user .login  .user_menu .user_menu_list li {
    display: block;
    text-align: center;
    line-height: 38px;
    width: 100%;
    height: 35px;
    padding: 0;
    margin: 0;
}
#user .login   .user_menu .user_menu_list li .getvip {
    display: block;
    background: #ef3c1f;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    height: 33px;
    line-height: 33px;
    text-decoration: none;
}
#user .login   .user_menu::before {
    position: absolute;
    left: 50%;
    top: -5%;
    z-index: 2;
    margin-left: -4px;
    content: "";
    width: 0;
    height: 0;
border-bottom: 8px solid #d7d7d7;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
#user .login   .user_menu .user_menu_list a {
    color: #0023ff;
}
#user .login   .user_menu .user_menu_list li.logout {
    margin-top: 10px;
    border-top: 1px dotted #ccc;
}
#user .login   .user_menu .user_menu_list li {
    display: block;
    text-align: center;
    line-height: 38px;
    width: 100%;
    height: 35px;
    padding: 0;
    margin: 0;
}
#user .login  .user_menu .user_menu_list li.logout a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    background: none;
    margin: 0;
    border: none;
    border-radius: 0;
    color: #000;
    text-decoration: none;
}