.fkdl {
    margin-top: 12px;
}
.w1180 {
    width: 100%!important;
    margin: 0 auto;
}
#fknavbox .w1180{
	text-align: center;
}
#fknavbox{height: 60px;}
.fkfooter .fkfttop .w1180{width: 1200px!important;}
.fklogo_jian {
    width: 105px;
    height: 39px;
    float: left;
    display: block;
    margin: 11px 24px 0 13px;
}
.fknav.n_jian ul li a{
		 font-size: 15px;
	}
	.fknav.n_jian ul li {
    float: left;
    margin: 0 30px 0 0;
}
	.fknav.n_jian{
		    width: auto;display: inline-block;margin-left: -82px;
	}
	.header-drop{
		right: 45px;
	}
	#fkmembercontent .header-vip em {
    right: 13px;
    width: 20px;
    top: -15px;
}
	.fkqmenu .fkundlright{
		    padding-right: 7px;
	}
#fkmemberinfo:hover {
    background: none;
}
#fkmemberinfo.curs{ background: none;}
.fkqmenu .fkdenglu {
    width: 275px;
}
.header-vip em {
    right: 197px;
}
.fknav {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    float: none;
}
#fkmemberinfo{top: 4px;}